---
http_interactions:
- request:
    method: post
    uri: https://mock-text-provider.parentsquare.com/provider1
    body:
      encoding: UTF-8
      string: '{"to_number":"1234567777","message":"Hello World","callback_url":"http://example.com/delivery_status/delivery_status"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 6f25a7bf-7400-48ef-8e5b-becb064a45d2
      X-Amz-Apigw-Id:
      - c8vvpEbsvHcFi-A=
    body:
      encoding: UTF-8
      string: '{"error":"Something went wrong"}'
  recorded_at: Sat, 10 Dec 2022 21:26:47 GMT
recorded_with: VCR 6.1.0
